#form, label {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#form {
  justify-content: space-around;
  margin: 0 auto;
  padding: .5em;
  border: 1px solid black;
  height: 150px;
  width: 325px;
}


label {
  gap: 10px
}

